.titleContainer {
  position: sticky;
  top: 70px;
  z-index: 99;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

/* Adjust position when trial banner is visible */
:global([data-trial-banner="visible"]) .titleContainer {
  top: 119px;
}

.nonSticky {
  position: relative;
}

.titleText {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(28px);
  font-weight: 700;
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-0));
  margin-bottom: 0;
  padding-bottom: var(--mantine-spacing-md);
  position: relative;
}

.titleText::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, var(--mantine-color-blue-6), var(--mantine-color-cyan-5));
  border-radius: 2px;
}

.backButton {
  /* No hover transform */
}

/* Responsive Design */
@media (max-width: 768px) {
  .titleText {
    font-size: rem(22px);
  }
}
