/* Teams component styles */

.inactiveRow {
    opacity: 0.4;
    cursor: default !important;
}

.inactiveRow:hover {
    background-color: transparent !important;
}

.activeRow {
    opacity: 1;
}

.inactiveMenuButton {
    cursor: default !important;
    opacity: 0.6;
}

.activeMenuButton {
    cursor: pointer;
    opacity: 1;
}